@import '../varibles/index'

//footer//
.footer
    padding: 100px 0 60px
    background-color: #F5FBFC
    

.footer__container    
    display: flex
    min-height: 230px
    margin-bottom: 120px

.footer__aside 
    display: flex
    flex-basis: 60%
    flex-wrap: wrap
    flex-direction: column

.footer__logo
    margin-bottom: 30px

.footer__descr
    width: 34%
    line-height: 26px
    color: $smalTextColor

.footer__nav
    display: flex
    flex-wrap: wrap
    flex-basis: 50%
    justify-content: space-between

.nav__title
    margin-bottom: 25px

.company__list,
.template__list,
.flowbase__list
    display: flex
    flex-direction: column


.company__item,
.template__item,
.flowbase__item
    margin-bottom: 25px
    color: $smalTextColor

.company__title,
.template__title,
.flowbase__title
    padding-left: 7px
    text-transform: uppercase
    color: black

.footer__link
    display: flex
    justify-content: flex-end

.link__list 
    display: flex
    flex-basis: 15%
    justify-content: space-between