// header//
.header
    position: fixed
    top: 0
    right: 0
    left: 0
    z-index: 1000
    backdrop-filter: saturate(180%) blur(5px)
    background: hsla(0,0%,100%,.8)
    padding-bottom: 20px
    transition: height .25s

.top
    padding: 14px 0
    background-color: $maincolor

.header__wrap 
    position: relative
    display: flex
    justify-content: center
    padding-right: calc( $gap + 10px )

.header__text 
    margin-right: 30px

.bottom
    display: flex
    padding: 20px 0 0
    justify-content: space-between

.header__logo
    width: 40%

.logo
    display: block
    width: max-content
    transition: all 0.2s

    &:hover
        transform: scale(1.03)

.nav__list
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between

.nav__burger
    display: none
    flex-direction: column
    align-items: center
    justify-content: space-between
    padding: 15px 0
    margin-left: auto
    width: 55px
    height: 54px
    border: 2px solid $maincolor 
    border-radius: 5px

.burger__line
    display: block
    width: 28px
    height: 2px
    background-color: $maincolor
    border-radius: inherit
    transition: .2s ease-in-out

.nav__item
    margin-right: 30px

    &--cart
        background-color: $maincolor
        border-radius: 5px
        padding: 7px
        margin-right: 0

.nav-link
    padding: 7px
    border-radius: 5px
    transition: all .2s
    
    &--cart
        display: flex
        align-items: center
        justify-content: center
        position: relative
        width: 41px
        height: 41px

    .card__badge
        position: absolute
        top: -15px
        right: -18px
        width: 26px
        text-align: center
        padding: calc($gap / 10) calc($gap / 10 + 2px)
        color: $maincolor
        background-color: #fff
        border-radius: 100%
        font-size: $baseFZ - 2px
        box-shadow: 0px 0px 5px 1px rgba(34, 60, 80, 0.1)

    &:hover
        background-color: #35B8BE
        color: white

        img
            animation: 2s ease-in-out infinite forwards cartImage

    &--active
        background: #35B8BE
        color: white

.theme-switcher
    position: absolute
    right: 0
    top: -3px
    cursor: pointer

@keyframes cartImage
    0%
        transform: rotate(0deg)
    10%
        transform: rotate(30deg)
    40%
        transform: rotate(-360deg)
    100%
        transform: rotate(-360deg)    
