/**
 ** ----------------------------------------------
 ** Demo styles
 ** ----------------------------------------------
 **

.accordion
  width: 90%

.accordion__item
  margin-bottom: calc( $gap / 2 )
  border: 2px solid $counterBorderColor
  border-radius: 12px

.accordion__button
  background-color: $counterBgColor
  cursor: pointer
  padding: 18px
  width: 100%
  padding-left: 45px
  position: relative
  text-align: left
  border-radius: 9px
  transition: all .3s

  &:hover
    background-color: $counterBorderColor      

  &:before
    display: inline-block
    content: ''
    position: absolute
    left: 15px
    top: 50%
    height: 10px
    width: 10px
    border-bottom: 2px solid $maincolor
    border-right: 2px solid $maincolor
    transform: translateY(-60%) rotate(45deg)
    transition: all 0.3s  

  &[aria-expanded='true']::before, &[aria-selected='true']::before
    transform: translateY(-60%) rotateZ(-135deg)
  
.accordion__panel
  padding: 20px
  animation: fadein .3s forwards

.open
  border: 2px solid $maincolor
  animation: border .3s forwards

  .accordion__button
    border-bottom-left-radius: 0
    border-bottom-right-radius: 0
    background-color: $counterBorderColor

/* --------------------------------------------------
/* ---------------- Animation part ------------------
/* --------------------------------------------------

@keyframes fadein
  0%
    transform: translateY(-5%)

  100%
    transform: translateY(0)

@keyframes border
  0%
    border: 2px solid $counterBorderColor

  100%
    border: 2px solid $maincolor
