@import "../variables/index"

.accordion
  width: 100%
  margin-bottom: calc( $gap / 2 )

  &__item
    margin-bottom: calc( $gap / 2 )
    border: 2px solid $counterBorderColor
    border-radius: 12px
    transition: all .3s

    &:hover
      border: 2px solid $maincolor

    &.open
      border: 2px solid $maincolor

      &:hover
        border-color: $maincolorlight

      .accordion__button
        border-bottom-left-radius: 0
        border-bottom-right-radius: 0
        background-color: #f4f4f4

  &__button
    background-color: #f4f4f4
    cursor: pointer
    padding: 18px
    width: 100%
    padding-left: 45px
    position: relative
    text-align: left
    border-radius: 9px
    transition: all .5s

    &:hover
      background-color: $baseBgColor

    &:before
      display: inline-block
      content: ''
      position: absolute
      left: 15px
      top: 50%
      height: 10px
      width: 10px
      border-bottom: 2px solid $maincolor
      border-right: 2px solid $maincolor
      transform: translateY(-60%) rotate(45deg)
      transition: all .5s

    &[aria-expanded='true']::before, &[aria-selected='true']::before
      transform: translateY(-60%) rotateZ(-135deg)

  &__panelItem
    opacity: 1
    transform: translateY(0)
    padding: 10px 0
    border-bottom: 1px solid $maincolor
    transition: all .35s

    &:first-of-type
      padding-top: 0

    &:last-of-type
      border-bottom: none
      padding-bottom: 0

  &__panel
    display: block
    padding: 20px
    overflow: hidden
    transition: all .5s

    &[hidden]
      padding-top: 0
      padding-bottom: 0
      height: 0!important

      .accordion__panelItem
        pointer-events: none
        transform: translateY(-100%)
        opacity: 0

  &__wrap
    display: flex
    align-items: center
    justify-content: space-between

  &__price
    width: auto

  .date
    display: flex

    &__text
      width: unset
      margin-right: 10px

    &__descr
      width: unset

  .section__text
    margin-bottom: 0


@media (max-width: 1200px)
  .accordion
    width: 70%


@media (max-width: 991px)
  .accordion
    width: 100%


@media (max-width: 768px)
  .accordion
    &__button
      padding-left: calc( $gap + 10px )


@media (max-width: 520px)
  .accordion .date
    display: none