@import '../varibles/index'

.btn
    cursor: pointer
    padding: 20px 35px
    border: none
    border-radius: 12px
    background-color: $maincolor
    color: white
    font-size: $textFZ
    line-height: calc( $textFZ + 2px)

.menu-btn--disabled 
    padding: 19px 35px
    outline: 2px solid $smalTextColor
    color: $smalTextColor
    background-color: $baseBgColor
    transition: all .2s

    &:hover
        background-color: $maincolor
        color: white
        outline: 0

.card__btn
    padding: 10px 12px
    color: $smalTextColor
    font-size: $baseFZ
    line-height: calc( $baseFZ + 11px)