@import "../variables/index"

.counter
    border: 2px solid $textColor
    border-radius: 12px
    height: 51px
    font-size: 18px
    overflow: hidden

    &__minus,
    &__number,
    &__plus
        height: 100%
        width: 30px
        color: $textColor
        font-weight: 500
        cursor: pointer

    &__minus,
    &__plus
        transition: all .3s

        &:hover
            background-color: rgba(53, 184, 190, .35)

    &__number
        width: 42px
        border-right: 1px solid $textColor
        border-left: 1px solid $textColor
        cursor: default


@media (max-width: 575px)
    .counter
        height: 42px
        font-size: 15px

        &__minus,
        &__plus
            width: 26px

        &__number
            width: 36px