.counter
    display: flex
    align-items: center
    border: 2px solid $counterBorderColor
    border-radius: 12px
    background-color: $counterBgColor

.counter__minus
    padding: calc( ($gap / 6) - 1px ) calc( $gap / 4 ) calc( $gap / 4 )
    font-size: calc( $textFZ + 4px )
    font-weight: 500
    line-height: calc($textFZ + 1px )
    color: $smalTextColor
    cursor: pointer

.counter__number
    width: 35px
    border-right: 1px solid $counterBorderColor
    border-left: 1px solid $counterBorderColor
    font-weight: 500
    text-align: center
    color: $smalTextColor
    padding: calc( $gap / 4 )

.counter__plus
    padding: calc( $gap / 4 )
    font-size: $textFZ
    font-weight: 500
    line-height: calc($textFZ + 1px )
    color: $smalTextColor
    cursor: pointer