@import "../variables/index"

.input
    padding: calc( $gap / 2 )
    border: 2px solid $gray
    border-radius: 12px
    background-color: $lightGray
    font-size: $baseFZ
    color: $textColor
    overflow: hidden
    transition: all .3s

    &::placeholder
        color:  darken($gray, 15)

    &:hover, &:focus
        border-color: $mainColor

    &.error
        border-color: $error

    &--textarea
        resize: none