@import "../variables/index"

.map
  border-radius: 25px
  width: 500px
  height: 500px
  overflow: hidden
  border: 2px solid $maincolor
  margin-bottom: $gap


@media (max-width: 768px)
  .map
    width: 90%
    height: 348px