@import "../variables/index"

.map
  border-radius: 12px
  width: 500px
  height: 440px
  border: 2px solid $maincolor
  margin-bottom: $gap
  overflow: hidden

.cart
  .map
    width: 90%
    height: 400px

@media (max-width: 1400px)
  .map
    width: 400px


@media (max-width: 1200px)
  .map
    width: 500px


@media (max-width: 768px)
  .map
    height: 368px

  .cart
    .map
      width: 80%
      height: 400px

@media (max-width: 575px)
  .map
    width: 100%
    height: 340px

  .cart
    .map
      width: 80%
      height: 268px
      margin-bottom: calc( $gap / 2 )

@media (max-width: 370px)
  .map
    height: 260px

  .cart
    .map
      width: 90%
      height: 218px