@import "../variables/index"

.modal
    position: relative
    display: flex
    top: 50%
    left: 50%
    padding: calc( $gap + 5px )
    transform: translate(-50%,-50%)
    width: 40%
    min-height: 400px
    background: #fff
    border-radius: 17px
    box-shadow: 0px 0px 80px 70px rgb(0 0 0 / 10%)

    &-wrapper
        position: fixed
        top: 0
        bottom: 0
        left: 0
        right: 0
        z-index: 10000
        opacity: 0
        backdrop-filter: blur(8px)
        transition: all .4s

        &--active
            opacity: 1

    &__card
        &-image
            align-self: center
            width: 260px
            height: 100%
            margin-right: $gap

        &-wraper
            display: flex
            flex-direction: column
            justify-content: space-between

        &-name
            display: flex
            align-items: flex-end
            justify-content: center

        &-descr
            color: $smalTextColor
            font-size: $baseFZ
            line-height: $textFZ

        &-text
            text-align: center
            font-size: $textFZ
            font-weight: 500
            line-height: $textFZ + 2px

        &-footer
            display: flex
            width: 100%
            height: 51px
            align-items: center
            justify-content: space-between

        &-price
            font-size: calc( $baseFZ + 6px )
            line-height: calc( $baseFZ + 6px )
            font-weight: 500

        &-delete
            cursor: pointer
            position: absolute
            top: 0
            right: 0
            padding: 12px

            &-inner
                width: 20px
                height: 20px
                clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%)
                background-color: red

    .card__name
        margin-right: calc( $gap / 3 )

// REFACTOR переименовтаь этот класс по примеру классов выше modal__card-weight, modal__card-info
// исправить здесь, в разметке и проверить в медиа
.card
    &__weight
        color: $smalTextColor
        font-size: calc( $baseFZ - 2px )
        line-height: $baseFZ

    &__info
        display: flex
        width: 100%
        min-height: $gap * 1.5
        justify-content: space-evenly

        &-wrap
            display: flex
            flex-direction: column
            align-items: center
            justify-content: space-between

.info
    &__name
        color: $smalTextColor
        font-size: $baseFZ
        line-height: $textFZ

    &__value
        color: $maincolor
        font-size: calc( $baseFZ - 2px )
        line-height: calc( $baseFZ - 2px )


@media (max-width: 1800px)
    .modal
        width: 44%


@media (max-width: 1600px)
    .modal
        width: 52%


@media (max-width: 1360px)
    .modal
        width: 70%


@media (max-width: 1023.9px)
    .modal
        width: 94%


@media (max-width: 768px)
    .modal
        flex-direction: column
        padding: 20px

        &__card
            &-image
                width: 230px
                margin-right: 0

            &-wraper
                height: 20%
                padding: 0

            &-name, &-descr, &-text
                margin-bottom: calc( $gap / 2 )

            &-footer
                justify-content: space-around

    .card__info
        margin-bottom: calc( $gap / 2 )


@media (max-width: 575px)
    .modal
        &-wrapper
            overflow-y: scroll

        &__card
            &-image
                width: 200px

            &-text
                font-size: $baseFZ

            &-footer
                justify-content: space-between

            &-price
                font-size: $headerFZ

            &-name
                flex-wrap: wrap
                align-items: center

    .card
        &__name
            font-size: $baseFZ

        &__weight
            font-size: 13px

        &-descr
            font-size: 15px

    .info
        &__value
            font-size: 13px

        &__name
            font-size: 15px

@media (max-width: 486px)
    .modal
        &__card
            &-image
                width: 180px

@media (max-width: 400px)
    .modal
        &__card
            &-image
                width: 160px

@media (max-width: 370px)
    .modal
        &__card
            &-image
                width: 150px

            &-descr
                text-align: center

@media (max-width: 320px)
    .modal
        &__card
            &-image
                width: 120px

            &-descr
                font-size: 14px
                line-height: 15px
                text-align: center