.search
    padding: 19px 35px
    border: 2px solid $smalTextColor
    border-radius: 12px
    width: 35%
    font-size: $textFZ
    line-height: calc( $textFZ + 2px)
    color: $smalTextColor
    transition: all .2s

    &:hover, &:focus
        border-color: $maincolor