@import "../variables/index"

.search
    padding: 19px 35px
    border: 2px solid $smalTextColor
    border-radius: 12px
    width: 35%
    font-size: $textFZ
    line-height: calc( $textFZ + 2px)
    color: $smalTextColor
    transition: all .2s

    &:hover, &:focus
        border-color: $maincolor


@media (max-width: 1400px)
    .search
        width: 29%


@media (max-width: 1023.9px)
    .search
        width: 49%
        font-size: 16px
        padding: 16px 26px