@import "slick-carousel/slick/slick.css"
@import "slick-carousel/slick/slick-theme.css"
@import "../variables/index"

.slick
  &-slider
    display: none

  &-slide
    padding: 0 calc($gap / 2)

  &-dots
    bottom: -40px

    li
      &.slick-active button:before
        color: $maincolor
        opacity: 1

      button:before
        font-size: 8px
        color: $maincolor


@media (max-width: 1023.9px)
  .slick-slider
    display: block


@media (max-width: 370px)
  .slick-slide
    padding: 0 7px