@import "slick-carousel/slick/slick.css"
@import "slick-carousel/slick/slick-theme.css"
@import "../variables/index"

.slick
  &-slider
    display: none

  &-slide
    padding: 0 calc($gap / 2)

  &-dots li
    &.slick-active button:before
      color: $maincolor
      opacity: 1

    button:before
      color: $maincolor


@media (max-width: 1023.9px)
  .slick-slider
    display: block