@import '../variables/index'

.cart
    &-page
        margin-bottom: calc( $gap * 5 )

        .section__title
            text-align: center
            margin-bottom: calc( $gap * 2 )

        .section__text
            text-align: center
            width: 100%
            margin-bottom: $gap

    &__main
        display: flex
        justify-content: space-around

        .section__title
            color: $success

    &__list
        display: flex
        flex-direction: column
        justify-content: space-between
        width: 42%

    &__item
        display: flex
        margin-bottom: calc( $gap / 2 )
        border-radius: 6px
        box-shadow: 0px 0px 10px 7px rgb(50 72 90 / 10%)
        transition: all 0.3s

    &__product
        position: relative
        display: flex
        justify-content: space-between
        width: 100%
        padding: calc( $gap / 6 ) calc( $gap / 3 ) 0 calc( $gap / 6 )

        .product
            &__img
                width: 180px
                margin-right: calc( $gap / 2)

            &__wrap
                display: flex
                flex-direction: column
                align-items: center
                justify-content: space-around
                width: 100%

            &__name, &__price
                font-size: calc($textFZ + 2px)
                font-weight: 500

            &__price-wraper
                    display: flex
                    justify-content: space-between
                    align-items: center
                    width: 80%

            &__delete
                position: absolute
                top: -7px
                right: -7px
                padding: 12px
                cursor: pointer

                .delete__inner
                        width: 20px
                        height: 20px
                        clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%)
                        background-color: red

    &__btn-wrapper
        display: flex
        justify-content: space-around
        width: 100%

    &__total
        display: flex
        flex-direction: column
        align-items: center
        width: 25%
        height: 40%
        padding: calc( $gap / 2 )
        border-radius: 6px
        box-shadow: 0px 0px 10px 7px rgb(50 72 90 / 10%)

        .total
            &__wrapper
                display: flex
                justify-content: space-around
                width: 100%
                margin-bottom: $gap

            &__price, &__count
                font-size: $textFZ
                line-height: calc( $textFZ + 8px )

            &__title
                font-size: calc($baseFZ * 2)
                font-weight: 500
                margin-bottom: $gap


@media (max-width: 1600px)
    .cart
        &__list
            width: 35%

        &__total
            width: 30%

@media (max-width: 1360px)
    .cart
        &__list
            width: 45%

        &__total
            width: 40%


@media (max-width: 1023.9px)
    .cart
        &__main
            flex-direction: column
            align-items: center

        &__total
            width: 70%

        &__list
            margin-bottom: $gap
            width: 70%

        &__product
            .product
                &__img
                    width: 140px

                &__name
                    text-align: center


@media (max-width: 768px)
    .cart
        &__title
            font-size: 30px

        &__list
            width: 85%

@media (max-width: 575px)
    .cart
        &-page
            margin-bottom: calc($gap * 2)

            .section__title
                margin-bottom: calc( $gap + 10px )

        &__list
            width: 85%

        &__btn-wrapper
            justify-content: space-between

        &__total
            width: 85%
            .total
                &__title
                    font-size: 24px

                &__price, &__count
                    font-size: 16px

        &__product
            flex-direction: column
            align-items: center
            padding: calc( $gap / 2 )

            .product
                &__count
                    font-size: 16px

                &__wrap
                    padding: 0

                &__img
                    margin: 0 0 calc( $gap / 2 )
                    width: 180px

                &__name
                    margin-bottom: calc( $gap / 2 )
                    font-size: 18px

                &__price-wraper
                    flex-wrap: wrap
                    width: 90%



@media (max-width: 370px)
    .cart
        &__btn-wrapper
            flex-direction: column
            align-items: center

        &__total
            .total
                &__title
                    text-align: center
                    margin-bottom: calc( $gap / 2 )
                    font-size: 25px

                &__wrapper
                    flex-wrap: wrap
                    margin-bottom: calc( $gap / 2 )

        &__product
            .product
                &__img
                    width: 160px