.cart-page
    //flex-wrap: wrap
    margin-bottom: calc( $gap * 5 )

    .cart__title
        text-align: center
        margin-bottom: calc( $gap * 2 )

.cart__main
    display: flex
    justify-content: space-around

.cart__list
    display: flex
    flex-direction: column
    justify-content: space-between
    width: 42%

.cart__item
    display: flex
    margin-bottom: calc( $gap / 2 )
    border-radius: 6px
    box-shadow: 0px 0px 10px 7px rgb(50 72 90 / 10%)
    transition: all 0.3s

.cart__product
    position: relative
    display: flex
    justify-content: space-between
    width: 100%
    padding: calc( $gap / 6 ) calc( $gap / 3 ) 0 calc( $gap / 6 )

.cart__product-img
    width: 180px
    margin-right: calc( $gap / 2)

.cart__product-wrap
    display: flex
    flex-direction: column
    justify-content: space-around
    width: 100%

.cart__product-name
    text-align: center
    font-size: calc($textFZ + 2px)
    color: $smalTextColor

.cart__product-price-wraper
    display: flex
    justify-content: space-between
    align-items: center
    align-self: center
    width: 80%


.cart__product-price
    font-size: $textFZ

.cart__product-delete
    position: absolute
    top: -7px
    right: -7px
    padding: 12px
    cursor: pointer

    &-inner
        width: 20px
        height: 20px
        clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%)
        background-color: red

.cart__empty
    text-align: center
    font-size: $textFZ
    line-height: calc($textFZ + 9px)
    color: $smalTextColor
    margin-bottom: $gap

.cart__empty-btn
    display: flex
    justify-content: space-around
    width: 100%

.cart__total
    display: flex
    flex-direction: column
    align-items: center
    width: 25%
    height: 40%
    padding: calc( $gap / 2 )
    border-radius: 6px
    box-shadow: 0px 0px 10px 7px rgb(50 72 90 / 10%)

.cart__total-title
    font-size: calc($textFZ * 2)
    margin-bottom: $gap

.cart__total-count
    display: flex
    align-items: center 
    justify-content: space-around
    width: 100%
    margin-bottom: $gap

.cart__product-count
    font-size: $textFZ
    line-height: calc( $textFZ + 8px )

.cart__total-price
    font-size: $textFZ