@import '../variables/index'

.company
    &__left
        flex-basis: 50%

    &__title
       width: 80%

    .home-btn
        margin-bottom: 0


@media (max-width: 1600px)
    .company__left
        padding-left: $gap


@media (max-width: 1023.9px)
    .company
        flex-direction: column-reverse
        align-items: center

        &__right
            margin-bottom: calc( $gap * 2 )

        &__left
            display: flex
            flex-direction: column
            align-items: center
            margin-top: 0
            padding-left: 0

        &__title, &__text
            text-align: center

        &__title
            width: 100%


@media (max-width: 575px)
    .company .btn
        margin-bottom: 0


@media (max-width: 370px)
    .company__text
        margin-bottom: $gap