.company
    position: relative
    display: flex
    margin-bottom: calc( $gap * 10 )

    .section__title
       width: 80%

    .home-btn
        margin-bottom: 0

.company__left
    flex-basis: 50%
    margin-top: calc( $gap * 2 )

.company__right
    position: absolute
    top: 0
    right: calc( ($gap * 2) - 20px)