@import '../variables/index'

.contacts
    &__left
        flex-basis: 50%

.feedback
    &--form-error
        .form
            .form__top
                margin-bottom: calc( $gap * 3 )

    &__title
        text-align: center

    .form
        position: relative
        width: 100%
        
        &__top
            margin-bottom: $gap
            transition: all .5s

        &__left
            width: 50%
            margin-right: calc( $gap / 2 )

        &__input
            width: 75%

            &:not(:last-of-type)
                margin-bottom: calc( $gap / 2 )

        &__textarea
            width: 75%
            height: 189px

        &__right
            width: 50%

        &__check
            width: 100%
            margin: 0
            cursor: pointer
            transition: all .5s

            &.error
                color: $error

        &__checkbox
            position: relative
            top: 1px
            margin-right: 5px
            cursor: pointer

        &__error
            position: absolute
            text-align: center
            width: 100%
            margin-bottom: 0
            bottom: 132px
            color: $error
            animation: opacity .5s


@media (max-width: 1360px)
    .contacts__title
        width: 80%


@media (max-width: 1023.9px)
    .contacts
        flex-direction: column-reverse

        &__right
            margin-bottom: calc( $gap * 3 )

        &__link
            display: block
            margin: 0 auto

        &__title, &__text
            text-align: center

    .feedback__title
        width: 80%
        margin-bottom: $gap

        &--success
            margin: 0


@media (max-width: 991px)
    .contacts__title, .contacts__text
        width: 100%

    .feedback
        &__form
            .form
                &__input, &__textarea
                    width: 100%


@media (max-width: 768px)
    .contacts
        margin-bottom: $gap
        padding-bottom: $gap
        border-bottom: 1px solid $gray

        &__right
            margin-bottom: calc( $gap * 2 )

        &__title
            margin-bottom: $gap


@media (max-width: 575px)
    .contacts
        &__text
            margin-bottom: $gap

        &__right
            text-align: center

        &__img
            width: 80%

    .feedback
        .form
            &__top
                flex-direction: column

            &__left
                width: 100%
                margin: 0 0 calc( $gap / 3 )

            &__right
                width: 100%

            &__textarea
                height: 104px