//contacts//
.contacts
    position: relative
    display: flex
    margin-bottom: calc( $gap * 8 )

.contacts__left
    flex-basis: 50%
    margin-top: 60px

.contacts__link
    display: inline-block

.contacts__right
    position: absolute
    top: 0
    right: 40px

//feedback//
.feedback
    margin-bottom: calc( $gap * 5 )

    .section__title
        text-align: center
        margin-bottom: calc( $gap * 2 )

    .section__text
        text-align: center
        width: 100%
        font-size: calc(($baseFZ * 2) + 8px)
        font-weight: 500
        margin: 0

.form__top
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    margin-bottom: $gap

.form__left
    display: flex
    flex-direction: column
    align-items: flex-end
    width: 50%
    margin-right: calc( $gap / 2 )

.form__input:not(:last-of-type)
    margin-bottom: calc( $gap / 2 )

.feedback-form
    width: 75%
    padding: calc( $gap / 2 )
    border: 2px solid $counterBorderColor
    border-radius: 12px
    background-color: $counterBgColor
    font-size: $baseFZ
    color: $smalTextColor
    transition: all .2s 

    &:hover, &:focus
        border-color: $maincolor

    &.error
        border-color: red

.form__right
    display: flex
    justify-content: flex-start
    width: 50%

.form__textarea
    max-height: 189px
    height: 189px
    resize: none

.form__bottom
    display: flex
    justify-content: center

.form__check .error
    color: red

.form__wrapper
    display: flex
    flex-direction: column

.error-message
    margin-left: 12.5%
    margin-bottom: $gap
    color: red