@import '../variables/index'

.faq
    &__title
        width: 74%

    &__right
        flex-basis: 50%

.howitworks
    text-align: center

    &__list
        margin-bottom: calc( $gap * 2 )

    &__item
        width: 28%

        &:nth-of-type(even)
            width: 8%

    &__line
        margin-top: 130px
        width: 100%
        height: 2px
        background-color: $gray

    &__img
        max-height: 230px
        margin-bottom: 50px

    &__subtitle
        font-size: calc($textFZ + 2px)
        font-weight: 500
        line-height: calc($textFZ + 4px)
        margin-bottom: calc( $gap / 2 )

    &__title
        margin-bottom: calc( $gap * 2 )

    &__text, .home-btn
        margin: 0


@media (max-width: 1199px)
    .howitworks
        &__img
            max-height: 200px

        &__line
            width: 80%
            margin-top: 100px

        &__text
            width: 100%

@media (max-width: 1023.9px)
    .faq
        flex-direction: column

        &__left
            margin-bottom: $gap

        &__right
            display: flex
            flex-direction: column
            align-items: center

        &__title, &__text
            text-align: center

        &__title
            width: 100%

    .howitworks__text
        font-size: 16px


@media (max-width: 991px)
    .howitworks
        &__img
            max-height: 156px
            margin-bottom: $gap

        &__line
            margin-top: calc( $gap * 2.5 )


@media (max-width: 768px)
    .faq
        margin-bottom: $gap
        padding-bottom: $gap
        border-bottom: 1px solid $gray

    .howitworks
        &__list
            flex-direction: column
            align-items: center
            margin-bottom: calc( $gap * 1.5 )

        &__img
            max-height: 230px

        &__item
            width: 60%
            margin-bottom: $gap

            &:last-of-type
                margin-bottom: 0

        &__line
            width: 2px
            height: 75px
            margin-top: 0


@media (max-width: 575px)
    .faq
        margin-bottom: calc( $gap * 3 )

    .howitworks
        &__item
            width: 100%

        &__img
            max-height: 190px

        &__line
            height: 55px

        .btn
            margin-bottom: 0