@import '../variables/index'

.menu
    &__filter
        display: flex
        justify-content: center
        align-items: center
        margin-bottom: calc($gap * 2)

    &__title
        text-align: center
        margin-bottom: $gap

    &__text
        width: 100%
        text-align: center

    &__wrap
        display: flex
        flex-wrap: wrap


@media (max-width: 1400px)
    .menu__filter
        justify-content: space-evenly
        flex-wrap: wrap


@media (max-width: 1023.9px)
    .menu__filter
        justify-content: space-between


@media (max-width: 991px)
    .menu__wrap
        justify-content: space-between


@media (max-width: 575px)
    .menu
        &__filter
            margin-bottom: $gap

        &__wrap
            justify-content: center

        .breakLine
            display: none