@import '../varibles/index'


.menu__title
    text-align: center

.menu__text 
    text-align: center
    margin-bottom: calc( $gap * 2 )
    line-height: calc( $baseFZ * 2 )
    font-size: $textFZ
    color: $smalTextColor

.menu__btn 
    display: flex
    flex-direction: row 
    justify-content: center
    align-items: center
    margin-bottom: calc( ($gap * 2) + 5px )

.menu-btn
    margin-right: $gap