@import '../variables/index'

.home
    &__left
        flex-basis: 50%

    &__title
        width: 80%
        margin-bottom: $gap

.rate
    &__text
        font-size: $textFZ
        line-height: calc( $textFZ + 9px)
        color: $textColor
        margin-bottom: $gap

    &__img
        margin-bottom: calc( $gap / 3 )

.clients__title
    text-align: center
    margin-bottom: calc( $gap * 2 )


@media (max-width: 1600px)
    .home__left
        padding-left: $gap


@media (max-width: 1360px)
    .home
        &__left
            margin: 0


@media (max-width: 1023.9px)
    .home
        flex-direction: column

        &__left
            position: relative
            padding-left: calc( $gap  * 3 )

        &__rate
            position: absolute
            left: 360px
            bottom: -6px
            max-width: 322px

            .rate__text
                margin-bottom: 0

        &__right
            display: none

        .home-btn
            margin-bottom: 0

    .clients__wrap
        display: none


@media (max-width: 991px)
    .home__left
        padding-left: 0


@media (max-width: 768px)
    .home
        margin-bottom: $gap
        padding-bottom: $gap
        border-bottom: 1px solid $gray

        &__left
            padding: 0
            align-items: center

        &__rate
            position: relative
            left: 0

        .home-btn
            margin-bottom: $gap


@media (max-width: 370px)
    .home
        margin-bottom: $gap
        padding-bottom: $gap
        border-bottom: 1px solid $gray

        &__rate
            display: none

        &__title
            width: 100%

        .home-btn
            margin: 0
            font-size: 16px
            padding: 16px 26px

    .clients
        &__title
            margin-bottom: $gap