@import '../varibles/index'
@import '../components/button'
@import '../components/card'
@import '../components/search'

//home//
.home
    position: relative
    display: flex
    flex-direction: row
    justify-content: space-between
    margin-bottom: calc( $gap * 5 )

.home__left
    width: 50%
    display: flex
    flex-direction: column
    flex-wrap: wrap

.home__title
    width: 90%
    font-size: calc( $titleFZ + 10px )
    line-height: calc( $titleFZ + 10px )
    margin-bottom: $gap

.section__text 
    width: 80%
    font-size: $textFZ
    line-height: calc( $textFZ + 6px )
    margin-bottom: calc( $gap * 2 )

.home__btn
    width: 30%
    margin-bottom: calc( $gap + 10px )

.home__img
    max-width: 16%
    margin-bottom: calc( $gap / 3 )

.home__text 
    font-size: $textFZ

.home__wrap
    display: flex
    flex-wrap: wrap

.home__right
    position: absolute
    right: -146px

//menu//
.menu__title
    text-align: center

.menu__text 
    text-align: center
    line-height: calc( $baseFZ * 2 )
    margin-bottom: calc( $gap * 2 )

.menu__btn 
    display: flex
    flex-direction: row 
    justify-content: center
    align-items: center
    margin-bottom: calc( ($gap * 2) + 5px )

.menu-btn
    margin-right: $gap

// .btn-view
//     display: block
//     margin: 0 auto calc( $gap * 5 )    


