@import '../varibles/index'
@import '../components/button'
@import '../components/card'
@import '../components/search'

//home//
.home
    position: relative
    display: flex
    margin-bottom: calc( $gap * 5 )

.home__left
    flex-basis: 50%
    display: flex
    flex-direction: column
    margin-top: 60px

.home__title
    width: 90%
    font-size: calc( $titleFZ + 10px )
    line-height: calc( $titleFZ + 10px )
    margin-bottom: $gap

.home__btn
    width: 30%
    margin-bottom: calc( $gap + 10px )

.home__img
    max-width: 16%
    margin-bottom: calc( $gap / 3 )

.home__text 
    width: 80%
    font-size: $textFZ
    line-height: calc( $textFZ + 9px)
    color: $smalTextColor
    margin-bottom: $gap

.home__wrap
    display: flex
    flex-wrap: wrap

.home__right
    position: absolute
    right: 0px

//clients//
.clients
    display: flex
    flex-wrap: wrap
    margin-bottom: calc( $gap * 5 )

.clients__title
    width: 100%
    text-align: center
    font-size: $titleFZ
    line-height: calc( $titleFZ + 5px )
    margin-bottom: calc( $gap * 2 )

.clients__wrap
    display: flex
    justify-content: space-evenly

.client__card
    width: 28%
    padding: calc( ($gap * 2) - 10px ) $gap $gap
    border-radius: 6px
    box-shadow: 0px 0px 5px 1px rgba(34, 60, 80, 0.2)

.client__text
    width: 100%
    margin-bottom: $gap
    padding-bottom: $gap
    border-bottom: 1px solid $counterBorderColor
    font-size: $textFZ
    line-height: calc( $textFZ + 9px)
    color: $smalTextColor

.client__info
    display: flex

.client__avatar
    margin-right: $gap
    border: 2px solid $maincolor
    border-radius: 100%

.client__descr
    display: flex
    flex-direction: column
    justify-content: space-around

.client__name
    font-size: calc( $textFZ + 2px)

.client__role
    font-size: $baseFZ
    line-height: calc( $textFZ + 2px)
    color: $smalTextColor

// .btn-view
//     display: block
//     margin: 0 auto calc( $gap * 5 )    


