@import '../components/accordion'
@import '../components/map'

.profile
    display: flex
    align-items: flex-start

.profile__footer
    display: flex
    justify-content: center
    margin-bottom: calc( $gap * 5 )

.profile__user,
.profile__history
    display: flex
    flex: 50%
    flex-direction: column
    align-items: center
    padding-top: calc( $gap * 3 )

.user__container
    display: flex
    flex-direction: column
    width: 85%
    margin-bottom: calc( $gap / 2 )
    
.user__wrap
    display: flex
    flex-direction: column
    align-items: center
    margin-bottom: calc( $gap / 2 )

.profile__form
    display: flex
    flex-direction: column
    flex-wrap: wrap
    align-items: center

    .section__text
        text-align: center
        margin: 0

.user__map
    display: flex
    flex-direction: column
    align-items: center
    margin-bottom: calc( $gap * 2 )

.form__wrap
    display: flex
    width: 80%
    justify-content: space-between

.user__photo
    display: block
    border-radius: 100%
    width: 120px
    height: 120px
    margin-bottom: $gap

.user__input
    display: flex
    width: 49.8%
    border: 2px solid transparent
    color: $smalTextColor
    font-size: 16px
    text-align: center
    padding: 12px 16px
    border-radius: 12px
    margin-bottom: calc( $gap / 2 )
    overflow: hidden
    transition: all .3s ease-out

    &:hover
        border: 2px solid $counterBorderColor

    &:focus
        background-color: $counterBgColor
        border-color: $maincolor

    &--textarea
        resize: none
        width: 80%
        margin-bottom: 0

        &::placeholder
            padding-top: 8px

.profile__history
    justify-content: center

    .section__text
        text-align: center
        margin-bottom: $gap

    .home-btn
        margin-bottom: 0

.accordion__wrap
    display: flex
    align-items: center

    .section__text
        margin: 0

.accordion-price
    flex: 35%

.accordion-date
    display: flex
    flex: 65%

    .date__text
        text-align: end
        margin-right: calc( $gap / 2 )

    .date__descr
        text-align: start

.history__img
    width: 378px
    margin-bottom: $gap