@import '../variables/index'

.profile
    display: flex
    flex-wrap: wrap
    align-items: flex-start
    justify-content: center
    margin-bottom: calc( $gap * 5 )

    &__user,
    &__history
        display: flex
        flex: 50%
        flex-direction: column
        align-items: center
        padding-top: calc( $gap * 3 )

    &__form
        display: flex
        flex-direction: column
        align-items: center
        width: 100%

        .section__text
            text-align: center
            margin: 0

    &__history

        .section__text
            text-align: center
            margin-bottom: $gap

.user
    &__photo
        display: block
        border-radius: 100%
        width: 120px
        height: 120px
        margin-bottom: $gap

    &__email
        margin-bottom: $gap

    &__input
        display: flex
        width: 70%
        border: 2px solid transparent
        color: $smalTextColor
        font-size: 16px
        text-align: center
        padding: 12px 16px
        border-radius: 12px
        margin-bottom: calc( $gap / 2 )
        overflow: hidden
        transition: all .3s ease-out

        &:hover
            border: 2px solid $counterBorderColor

        &:focus
            background-color: $counterBgColor
            border-color: $maincolor

        &--textarea
            resize: none

            &::placeholder
                padding-top: 8px

.history__img
    width: 378px
    margin-bottom: $gap


@media (max-width: 1400px)
    .profile__history,
    .profile__user
        flex: 100%
        padding: 0

    .profile__user
        order: -1
        margin-bottom: calc( $gap * 5 )
        // border-bottom: 1px solid $counterBorderColor

    .profile__form
        width: 100%

    .user__input
        width: 50%

    .profile__history
        margin-bottom: calc( $gap * 2 )

@media (max-width: 1200px)
    .user__input
        width: 60%

@media (max-width: 1023.9px)
    .user__input
        width: 80%


@media (max-width: 768px)
    .profile__user
        margin-bottom: $gap
        padding-bottom: $gap
        border-bottom: 1px solid #DDDDDD

    .user
        &__input
            width: 80%

@media (max-width: 575px)
    .profile
        &__form
            .user__input--textarea
                height: 100px

@media (max-width: 370px)
    .user
        &__input
            width: 90%

        &__email
            font-size: 16px