.themeDark
  .header
    background: hsl(0deg 0% 0% / 5%)

  .section__title,
  .nav-link,
  .footer .nav-link:hover,
  .search,
  .menu-btn--disabled:hover,
  .card__name,
  .modal__card-text,
  .howitworks__subtitle,
  .cart__empty,
  .cart__product-name,
  .form__input,
  .form__textarea,
  .user__input,
  .user__name,
  .company-title,
  .template-title
    color: $baseBgColor

  .section__text,
  .clients__role,
  .footer__descr,
  .footer .nav-link,
  .card__weight,
  .modal__card-descr,
  .info__name,
  .user__email,
  .form__check,
  .cart__product-count,
  .cart__total-price,
  .rate__text
    color: $darkSmalTextColor

  .client__card
    box-shadow: 0px 0px 12px 5px rgb(255 255 255 / 11%)

  .rate__img
    background-color: rgba(53,184,190, 0.6)
    padding: 3px 8px 8px 4px
    border-radius: calc( ($gap / 3) - 3px )

  .ico__g
    fill: $baseBgColor

  .card, .cart__product, .client__card
    background-color: lighten($darkBgColor, 12%)
    border-radius: calc( $gap / 3 )

  .card:hover
    .card__name
      text-shadow: 5px 5px 3px rgb(255 255 255 / 30%)

  .menu-btn--disabled, .search, .card__btn, .cart-btn, .form__input, .form__textarea, .user__input
    background-color: lighten($darkBgColor, 20%)

  .card__image, .modal__card-image, .cart__product-img
    background-color: $baseBgColor
    filter: brightness(0.85)
    border-radius: 6px

  .menu-btn--disabled, .card__btn, .cart-btn
    border: 2px solid lighten($darkBgColor, 30%)
    color: $darkSmalTextColor

    &:hover
      color: $baseBgColor
      background-color: $maincolor
      border: 2px solid $maincolor

  .counter
    border: 2px solid lighten($darkBgColor, 30%)

    &__minus,
    &__number,
    &__plus
      color: $darkSmalTextColor

    &__number
      border-right: 1px solid lighten($darkBgColor, 30%)
      border-left: 1px solid lighten($darkBgColor, 30%)

  .search
    border: 2px solid lighten($darkBgColor, 30%)

    &:focus, &:hover
      border-color: $maincolor

  .loader
    background-color: $darkBgColor

  .modal
    background-color: lighten($darkBgColor, 8%)
    box-shadow: 0px 0px 80px 70px rgb(255 255 255 / 10%)

  .cart__total
    box-shadow: unset
    border-radius: calc( $gap / 2 )
    border: 2px solid $maincolor

  .cart__product
    padding: calc( $gap / 3 )

  .footer
    background-color: lighten($darkBgColor, 4%)

  .form__input, .form__textarea, .user__input
    border: 2px solid lighten($darkBgColor, 30%)

    &:hover, &:focus, &:active
      border: 2px solid $maincolor

  .text-color
    color: $maincolor

  .sorting-btn::before
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAZ0lEQVR4nO3QIQ6AMBBE0V6ChvvfAzQEh+E4HwOVZNtOg5mfjFrxkk3JOedca8CKviUC7wPgLQJPwClEL2COvluFx1EhXo8K8Ha0A+9HG3AdWoHr0QA+Dv3Ax6NvQAaOZ7kcnHPph24z1p7nrmJPCQAAAABJRU5ErkJggg==') bottom
    filter: brightness(0.85)

  .sorting-btn.whiteUp::before
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAb0lEQVR4nO3RqxGAMBRE0VgKogQkFk0XdICjOsoB5iJiGcjnJUTsnVl9xDqnVGsBAzDXRifgwLf9gVIF5xkti/OOlsEJQ21x4lAbnDQ0DycPTcOxQeNwPHpi2xoC79h3Ad0X3AOL8cbgn5VSSjXTDSYLp4Z7w1yuAAAAAElFTkSuQmCC) top
    top: 34%

  .form__error
    color: $error