@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap')
@import './varibles/index'
@import './layout/footer'
@import './layout/header'
@import './pages/Home'
@import './pages/Fullmenu'
@import './pages/FAQ'
@import './pages/Contacts'
@import './pages/Company'
@import './pages/Cart'
@import './pages/Profile'
@import './dark-theme.sass'
@import './media'

*,
*::before,
*::after 
    box-sizing: border-box
    font-family: 'Ubuntu', sans-serif
    margin: 0
    padding: 0
    outline: none
    color: #000

body
    background-color: $baseBgColor

    &.themeDark
        background-color: $darkBgColor

a
    color: inherit
    text-decoration: none

ul 
    list-style: none

img
    max-width: 100%

h1, h2
    font-weight: 500

.container
    max-width: 1440px
    width: 100%
    margin: 0 auto

    @media (max-width: 1540px)
        max-width: 1320px

    @media (max-width: 1399px)
        max-width: 1140px

    @media (max-width: 1199px)
        max-width: 960px

    @media (max-width: 991px)
        max-width: 720px

    @media (max-width: 767px)
        max-width: 540px

    @media (max-width: 575px)
        max-width: 100%
        padding: 0 calc($gap / 2)

    &--fluid
        flex: 1
        padding-top: 212px

        @media (max-width: 768px)
            padding-top: 170px

    &--height-full
        position: relative
        height: 100%

.text-color
    color: $maincolor

.section__title
    font-size: $titleFZ
    line-height: calc( $titleFZ + 5px )
    margin-bottom: $gap

    @media (max-width: 768px)
        text-align: center
        font-size: 40px
        line-height: 45px

    @media (max-width: 576px)
        text-align: center
        font-size: 35px
        line-height: 40px

    @media (max-width: 370px)
        text-align: center
        font-size: 30px
        line-height: 35px

.section__text 
    width: 80%
    font-size: $textFZ
    line-height: calc( $textFZ + 9px )
    color: $smalTextColor
    margin-bottom: calc( $gap * 2 )

    @media (max-width: 370px)
        font-size: $baseFZ

.loader
    position: fixed
    top: 0
    bottom: 0
    right: 0
    left: 0
    background: #fff
    z-index: 10

.loader__body
    position: relative
    top: 50%
    left: 50%
    width: 45px
    height: 45px
    border: 5px solid #35B8BE
    border-right: 5px solid transparent
    border-radius: 50%
    animation: rotate 1.5s infinite

@keyframes rotate
    0%
        transform: translate(-50%, -50%) rotate(0deg)
    100%
        transform: translate(-50%, -50%) rotate(360deg)

.animation-enter
    opacity: 0
    transform: translateY(250px)

.animation-enter-active
    opacity: 1
    transform: translateY(0px)
    transition: all 700ms

.animation-exit
    opacity: 1

.animation-exit-active
    opacity: 0
    transition: all 700ms