@import './varibles/index'
@import './layout/footer'
@import './layout/header'
@import './pages/Home'
@import './pages/Fullmenu'
@import './pages/FAQ'
@import './pages/Contacts'
@import './pages/Company'
@import './pages/Cart'
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap')

*,
*::before,
*::after 
    box-sizing: border-box
    font-family: 'Montserrat', sans-serif
    margin: 0
    padding: 0
    outline: none
    color: #000

a
    color: inherit
    text-decoration: none

ul 
    list-style: none

img
    max-width: 100%

.container
    max-width: 1440px
    width: 100%
    margin: 0 auto

.text-color
    color: $maincolor

.section__title
    font-size: $titleFZ
    line-height: calc( $titleFZ + 5px )
    margin-bottom: $gap

.section__text 
    width: 80%
    font-size: $textFZ
    line-height: calc( $textFZ + 9px )
    margin-bottom: calc( $gap * 2 )

.loader
    position: absolute
    top: 0
    bottom: 0
    right: 0
    left: 0
    background: #fff
    z-index: 10

.loader__body
    position: relative
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    width: 45px
    height: 45px
    border: 5px solid #35B8BE
    border-right: 5px solid transparent
    border-radius: 50%
    animation: rotate 1.5s infinite

@keyframes rotate
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)