@media (max-width: 1600px)

    .container
        padding: 0 calc( $gap / 2)

    .home__left,
    .company__left,
    .faq__left,
    .contacts__left
        padding-left: $gap

@media (max-width: 1360px)
    // home
    .home__left
        margin: 0

    // menu
    .menu__btn
        justify-content: space-evenly
        flex-wrap: wrap

    .menu-btn
        margin-right: 0
        margin-bottom: 2.5%

    .menu-btn:nth-child(-n+4)  
        width: 24%

    .sorting-btn
        width: 48.3%

    .search
        margin-bottom: 2.5%
        width: 48.3%        
        
    .card
        width: 48.5%

    .card:nth-of-type(3n+2)
        margin: 0

    .card:nth-child(even)
        margin: 0 0 1.5% 1.5%

    .card:nth-child(odd)
        margin: 0 0 1.5%

    // howitworks
    .howitworks__img
        height: 196px

    .howitworks__item-border
        width: 80px
        margin-top: 100px

    // contacts
    .contacts__title
        width: 80%

@media (max-width: 1024px)

    // home
    .home
        flex-direction: column
        margin-bottom: calc( $gap * 3 )

    .home__left
        position: relative
        margin: 0
        padding-left: calc( $gap  * 3 )

    .home__title
        font-size: 50px
        line-height: 50px

    .home__rate
        position: absolute
        left: 360px
        bottom: 6px
        max-width: 322px

    .home__right
        display: none

    .clients
        margin-bottom: calc( $gap * 3 )

    .clients__wrap
        flex-wrap: wrap

    .client__card
        margin: 0 auto $gap calc( $gap * 2 )
        width: 40%

    // menu
    .menu-btn
        font-size: 16px
        padding: 16px 26px

    .menu-btn:nth-child(-n+5)  
        width: 48%

    .search
        width: 48%
        font-size: 16px
        padding: 16px 26px
        
    
    .card
        width: 100%

    .card:nth-child(even)
        margin: 0

    .card:nth-child(odd)
        margin: 0

    .card:nth-child(n)
        margin-bottom: 3.5%
    
    // company
    .company
        flex-direction: column-reverse
        margin-bottom: calc( $gap * 4 )

    .company__left
        display: flex
        flex-direction: column
        align-items: center
        margin-top: 0
        padding-left: 0

        .company__title,
        .company__text
            width: 100%
            text-align: center

    .company__right
        position: relative
        align-self: center
        margin-bottom: $gap
        padding-left: 80px

    // faq
    .faq
        flex-direction: column

    .faq__left
        padding-left: 90px
        margin-bottom: $gap

    .faq__right
        display: flex
        flex-direction: column
        align-items: center

        .faq__title
            width: 100%
            text-align: center

        .faq__text
            width: 100%
            text-align: center

    // howitworks
    .howitworks__img
        height: 146px

    .howitworks__item-border
        width: 60px
        margin-top: 70px

    .howitworks__subtitle
        font-size: 18px

    .howitworks__text
        width: 100%
        font-size: 16px

    // contacts
    .contacts
        flex-direction: column-reverse
        align-items: center
        margin-bottom: calc( $gap * 2 )

    .contacts__left
        display: flex
        flex-direction: column
        margin-top: 0
        padding-left: 0

    .contacts__right
        position: relative
        margin-bottom: $gap
        padding-left: calc( $gap * 2 )

    .contacts__title,
    .contacts__text
        width: 100%
        text-align: center

    .contacts__link
        margin: 0 auto

    // footer
    .template__list
        margin-left: 80px

    .footer__aside
        max-width: 53%
        
@media (max-width: 768px)

    // header
    .nav__list
        visibility: hidden
        opacity: 0
        display: flex
        flex-direction: column
        align-items: flex-end
        height: 0px
        transition: all .15s ease-out

    .header__text,
    .header__btn
        font-size: 15px

    .header--active
        .nav__list
            visibility: visible
            opacity: 1
            padding-top: 15px
            height: 240px

        .nav__burger
            .line-1 
                transform: rotate(45deg)
                transform-origin: 18% 0%
                width: 38px
                margin-left: 8px
        
            .line-2 
                transform: scaleY(0)

            .line-3 
                transform: rotate(-45deg)
                transform-origin: 15% 0%
                width: 38px
                margin-left: 8px

    .nav__burger
        display: flex

    .nav__item
        margin: 0  

    // home 
    .home
        margin-bottom: $gap
        padding-bottom: $gap
        border-bottom: 1px solid $counterBorderColor

    .home__left
        padding: 0
        align-items: center

    .home__title
        font-size: 40px
        line-height: 40px

    .home__text
        width: 90%

    .home__rate
        position: relative
        left: 0

    .clients__title
        font-size: 40px
        line-height: 40px

    .client__card
        margin: 0 0 $gap 0
        width: 90%

    // menu
    .menu-btn:nth-child(-n+5)  
        width: 32%

    .search
        width: 32%
        font-size: 16px
        padding: 16px 12px
    
    .menu__title
        font-size: 40px

    .menu__text
        font-size: 16px

    // company
    .company__right
        // display: none

    // faq
    .faq
        margin-bottom: $gap
        padding-bottom: $gap
        border-bottom: 1px solid $counterBorderColor

    // howitworks
    .howitworks__list
        flex-direction: column
        align-items: center
        margin-bottom: $gap

    .howitworks__item
        margin-bottom: $gap

    .howitworks__item:nth-of-type(odd)
        width: 50%

    .howitworks__img
        height: 211px
        margin-bottom: $gap

    .howitworks__item-border
        width: 290px
        margin-top: 0

    // contacts
    .contacts
        margin-bottom: $gap
        padding-bottom: $gap
        border-bottom: 1px solid $counterBorderColor

    // feedback
    .form__left
        align-items: center

        .form__input
            width: 100%

    .form__right
        justify-content: center

        .form__textarea
            width: 100%

    // footer
    .footer
        padding: 60px 0 45px

    .footer__container
        flex-direction: column
        margin-bottom: 35px
        padding-bottom: 35px

    .footer__aside
        max-width: 100%
        flex-direction: row
        justify-content: space-between
        margin-bottom: 25px

    .footer__descr
        width: 50%
        text-align: center

    .footer__nav
        justify-content: space-between

    .company__item, .template__item
        margin-bottom: 15px

    .template__list
        margin-left: 0

@media (max-width: 576px)
    // menu
    .menu__btn
        // flex-direction: row-reverse

    .menu-btn
        font-size: 14px
        padding: 12px 0

    .menu-btn:nth-child(-n+3)  
        width: 32%

    .menu-btn:nth-last-child(-n+3)  
        width: 48.5%

    .search
        order: -1
        width: 97.5%
        font-size: 14px
        padding: 12px 14px

    .card__wrap
        justify-content: center

    .card
        flex-direction: column
        align-items: center
        padding: 15px 0

        .card__content
            padding: 0

        .card__image
            height: 180px
            margin: 0 5px 10px 10px

        .card__footer
            justify-content: center

        .card__name
            font-size: 16px
            margin: 0 0 10px

        .card__price
            font-size: 20px
            padding: 0

        .card__btn
            display: none

    .card:nth-child(n)
        width: 80%
        margin-bottom: 5%

    // faq
    .faq
        margin-bottom: calc( $gap * 3 )

    .faq__left
        padding-left: $gap
        
    // howitworks
    .howitworks__item:nth-of-type(odd)
        width: 100%

    .howitworks__img
        height: 258px

    // feedback
    .feedback
        .feedback__title
            margin: $gap

    .form__top
        flex-direction: column
    
    .form__left
        align-items: center
        width: 100%
        margin: 0 0 10px

        .form__input
            width: 100%

    .form__right
        justify-content: center
        width: 100%

        .form__textarea
            width: 100%
            height: 106px

    // footer
    .footer__descr
        width: 80%

    .link__text
        max-width: 40%
        font-size: 14px

    .link__item
        margin-right: 18px

@media (max-width: 370px)
    // home
    .home
        margin-bottom: $gap
        padding-bottom: $gap
        border-bottom: 1px solid $counterBorderColor

    .home__title
        width: 100%
        font-size: 30px
        line-height: 30px

    .home__text
        width: 100%
        font-size: $baseFZ

    .home__btn
        margin: 0
        font-size: 16px
        padding: 16px 26px

    .home__rate
        display: none

    .clients__title
        font-size: 30px
        line-height: 30px

    .client__card
        display: flex
        flex-wrap: wrap-reverse
        width: 100%
        padding: $gap calc( $gap / 2 ) calc( $gap / 2 )

    .client__text
        font-size: $baseFZ
        padding: 0
        margin: 0
        border: none

    .client__info
        margin-bottom: calc( $gap / 2 )
        padding-bottom: calc( $gap / 2 )
        border-bottom: 1px solid $counterBorderColor

    //menu
    .menu-btn:nth-child(-n+4)  
        width: 48.6%

    .menu-btn:nth-last-child(-n+2)
        width: 98%

    // company
    .company__text
        font-size: 16px

    // faq
    .faq__left
        padding-left: 40px

    .faq__text
        font-size: 16px

    //howitworks
    .howitworks__img
        height: 212px

    // contacts
    .contacts__right
        padding-left: 90px

    .contacts__link 
        font-size: 16px
        padding: 16px 26px
    
    .contacts__text
        font-size: 16px

    //feedback
    .form-btn
        font-size: 16px
        padding: 16px 26px

    // footer
    .nav-link
        font-size: 14px

    .link__text
        font-size: 13px

    .link__item
        margin-right: 12px