//fontSize//
$baseFZ: 16px
$textFZ: 18px
$titleFZ: 50px
$headerFZ: 20px

//color//
$baseBgColor: #fff
$maincolor: #35B8BE
$smalTextColor: #546285
$counterBgColor: #FAFAFA
$counterBorderColor: #DDDDDD
$maincolorlight: lighten($maincolor, 20%)
$error: #dc3545
$success: #28a745

// dark
$darkBgColor: #121212
$darkSmalTextColor: lighten($smalTextColor, 40%)

//margin, padding//
$gap: 30px